{% load staticfiles %}
<html style="overflow-y: scroll;" lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'guestbook/bootstrap.css' %}" />
<title>Swag changed by Aleksei. [2015] VEI NICE 1</title>
<body><br>
<div class="container theme-showcase" role="main">
  <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="create">New Post</a></li>
          <li role="presentation"><a href="#">About</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Guestbook</h3>
    </div>
{% if latest_question_list %}
  {% for text in latest_question_list %}
    <div class="list-group">
      <a href="{% url 'guestbook:detail' text.id %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ text.title_text }}</h4>
        <p class="list-group-item-text">{{text.question_text|slice:"200"}}{% if text.question_text|length > 200 %}... {% endif %}</p>
      </a>
    </div>
    {% endfor %}


  <!--<ul>swag123123
    {% for text in latest_question_list %}
        <li><a href="{% url 'guestbook:detail' text.id %}">{{ text.title_text }}</a></li>
    {% endfor %}
  </ul>
-->
  <footer>
      <a href="create">Gera nýtt</a>

  </footer>
{% else %}
    <p>No text are available.</p>
{% endif %}
</div>
</body>
